.tech-stack {
  overflow: hidden;
  background: linear-gradient(-45deg,#514F90,#2E2E3A,#51527F,#38384A);
  padding: 20px;
  cursor: grab;
}

.tech-stack:active {
  cursor: grabbing;
}

.logos {
  display: inline-flex;
  user-select: none;
  will-change: transform;
}

.logos img {
  height: 50px;
  margin: 0 40px;
  transition: transform 0.3s;
}

.logos img:hover {
  transform: scale(1.2);
}